@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400i;700;800i&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Poppins, system-ui;
  /* background: #716f6f "smokey grey"; */
  /* background: #141414 "off black"; */
  /* background: #f0f0f0 ; off white*/
  /* background-color: #854dff; purple*/
  /* background-color: #ff5757; light red */
}

body {
  /* color: ; */
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
