@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400i;700;800i&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Poppins, system-ui;
  /* background: #eaeefb; */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
